[2015-07-01 02:24] srl295 opened #4 "Feedback on README.md?"
@nodejs/tsc — please put on agenda

[2015-07-01 02:28] srl295 opened #5 "Call for Participants"
Agenda item for @nodejs/tsc — please help collect participants

Also we would like the help of @nodejs/evangelism to get the word out!

[2015-07-01 03:31] kosamari commented on #4
I think word internationalization (i18n) should be defined more deeper in this doc.

the confusing point for me is the comment on "out of scope" section  `Translation of Node documentation, messages, and other materials into specific languages.`

Translation groups used i18n as sort of "project name" . When someone say "i18n" in context of node/iojs, as someone who has been working on translation

[2015-07-01 03:54] Gioyik commented on #5
How can we help? Let us know how we can make visible your work or put a highlight.

-From Evangelism group.

[2015-07-01 04:11] jasnell commented on #4
@kosamari ... the Mandate section (https://github.com/nodejs/internationalization#mandate) hopefully calls some of those details out. The `internationalization` WG's responsibility would be the _implementation_ of internationalization support (e.g. Ecma-402) within Node itself, as well as ensuring compliance with Unicode standards and other globalization efforts. This mission is distinct from that

[2015-07-01 04:26] kosamari commented on #4
@jasnell thanks! and would appreciate the explanation in your comment included in readme :)... you know... for those of us wondering where translation people should/should not go.

[2015-07-01 04:27] jasnell commented on #4
I'll do a PR adding that tomorrow!
On Jun 30, 2015 9:26 PM, "Mariko Kosaka" notifications@github.com wrote:

[2015-07-01 06:47] yosuke-furukawa commented on #5
Evangelism Group has some localization members like me.
If you need some help, I will assist you.

[2015-07-01 11:39] juliangruber commented on #5
I can help with german stuff for sure

[2015-07-01 17:53] srl295 commented on #4
@kosamari thanks for your feedback! You've touched on why I wrote the "out of scope" section. I know there is a large and active group of people doing such translation. That work is much appreciated, and I wanted to make it clear that this was something different.   Perhaps that should be called a "Translation WG"?

[2015-07-01 17:55] mikeal commented on #4
They do more than translations though, they also manage native language social media, events, evangelism, etc. Maybe the "Global WG" or something.

[2015-07-01 17:56] srl295 commented on #5
@juliangruber @yosuke-furukawa thanks, but this group isn't for localizations or translation If you are interested, however it could be helpful.  See issue #4 - we need to clarify the wording here.
Also, I think this WG would benefit from having a liason with the translation/localization WG - is there such a WG?

@Gioyik Thanks- clearly we need to get the `README.md` in better shape, and then try

[2015-07-01 18:16] kosamari commented on #4
yeah I haven't been able to find better word for these teams they own social media accounts, manage blogs and translate things. So it does interact with website/evangelism/ and internationalization WG when y'all need language content to fill after tool and system are in place (I assume.)

[2015-07-01 18:29] srl295 commented on #4
@mikeal Maybe "Global content"? It's sort of content vs. infrastructure. Running water vs plumbing.

@kosamari Yes, in some cases. Actually a lot of the core language content comes from http://cldr.unicode.org/ - 300 people have cast 630 thousand votes for several hundred languages in this round of input, so that would be the place to contribute content for core things like date and time formats.

[2015-07-01 19:04] mikeal commented on #4
It's not just content, they are an active community doing more than just stuff that feeds in to the website and whatnot -- it's best not to think of them as "content producers." Maybe "Global Community WG" and call the repo just "global."

[2015-07-01 19:10] srl295 commented on #4
@mikeal That's a good point. They are not just content. I like Global Community fwiw - that shows that it's more people than technology oriented.

And maybe that could help here- this could be the "Int'l Technology WG" or something.

[2015-07-01 19:14] mikeal commented on #4
The only thing that might be confusing w/ "Int'l Technology WG" is that it implies broader tooling work than the scope you're going for because we also have i18n tooling in the website and doc working groups that translators are using.

Names, the single hardest problem in computer science.

[2015-07-01 20:50] srl295 commented on #4
as per TSC this repo has been renamed to _Intl_ which parallels (but is not limited to) the  `Intl` object.

[2015-07-09 16:37] srl295 commented on #4
@mikeal @kosamari is [this](https://github.com/nodejs/nodejs.org/blob/master/doc/documentation/localization/index.md) the 'homepage' of the Global Community WG in a manner of speaking?

[2015-07-09 22:24] srl295 commented on #4
Example of scope: https://github.com/nodejs/node/issues/26,  https://github.com/nodejs/io.js/issues/1494, https://github.com/nodejs/io.js/issues/2165

[2015-07-15 19:38] #4 closed

[2015-07-15 19:40] srl295 commented on #5
@Gioyik and everyone - I've updated the `README.md` - it talks about how this WG is for support infrastructure and not for the translation itself. Can you send out a general call for participation?

@juliangruber @yosuke-furukawa It would be great to have some localization people who are interested to be part of this WG, as long as the scope is understood. Is there a WG for people doing translatio

[2015-07-15 20:53] srl295 commented on #5
+
- @caridy says "I can help!"
- @rwaldron
- @KevinMartin
- @rxaviers 

[2015-07-15 20:56] rwaldron commented on #5
Present

[2015-07-15 23:11] kevinmartin commented on #5
I'm interested in helping with this endeavor.

[2015-07-15 23:21] srl295 commented on #5
* @rwaldron
* @KevinMartin
* @rxaviers 

[2015-07-22 15:26] srl295 opened #8 "First Meeting: Aug 11, 2015"
I don't have a "normal" week until Aug 10. So I tried to pick slots that work work for probably an "every other week" type of slot.  Please suggest more slots (on the form) if none of these work.

http://doodle.com/ns539akkrkikf3gd

 @caridy @jasnell @KevinMartin @mhdawson @rxaviers @rwaldron @stevenatkin

While we're at it — we'll keep minutes in the repo of course, but suggestions for the logist

[2015-07-23 19:22] fhemberger commented on #5
@srl295 Translations are handled in @nodejs/website and the @nodejs/iojs-\* locale groups.
@juliangruber If you're interested, drop me a note at https://github.com/nodejs/iojs-de/issues.

[2015-07-31 18:51] kevinmartin commented on #8
I like Slack. Downfall is that messages get deleted after 10,000 messages, I believe. Not sure if that's a problem, though.

Please, lets not do a mailing list. Those are annoying and sometimes hard to follow.

Other option we can do is a [Google Hangout](https://support.google.com/hangouts/answer/3111943?hl=en)

[2015-07-31 19:10] srl295 commented on #8
@KevinMartin let's try it https://node-intl.slack.com

[2015-08-04 04:14] srl295 commented on #8
_update_ I sent out an invite for [9:00 AM PT this Tuesday](http://time.is/0900AM_11_Aug_2015_in_PT?Intl_WG) - please contact me / reply here if you haven't received the invite.

[2015-08-07 20:14] srl295 opened #9 "Information / brainstorm / input session w/ all of the “locale” groups"
- Note: This would be owned by the _Facilitation WG_ or the _Collaboration WG_ … if they existed.

Summary: Have a series of meetings (at multiple time zones), as well as async discussion session with/among the following parties:
- Intl WG
- Website WG
- Docs WG
- Evangelism WG?
- _each_ of the locale groups such as `iojs-es`. Ideally some representation by each, but open to all (infrastructure pe

[2015-08-07 20:15] srl295 commented on #9
cc: @snostorm (website?) @chrisdickinson (docs?) @yosuke-furukawa (evangelism?) — please tag people/groups as needed

[2015-08-09 08:43] diagramatics commented on #9
Can represent iojs-id here, although the team has been very inactive since the start of July.

[2015-08-11 14:49] srl295 commented on #8
_update_ meeting agenda here: https://goo.gl/0LNd1n

[2015-08-11 15:38] snostorm commented on #8
I might try to very passively listen in while working. Is it going to be recorded as a hangout? Or are you using conference #?

[2015-08-11 16:05] snostorm commented on #8
Looks like I missed the window to join at the start. No worries.

[2015-08-11 16:47] caridy opened #10 "[Discussion] Locale negotiation between client-server"
As today, negotiation is happening in user-land, most people are using `negotiator`, which is powering express and other popular frameworks. It allows to compute the list of locales that most likely fit a particular request based on the request information. e.g.:

https://github.com/jshttp/negotiator#accept-language-negotiation

We need to consolidate this, and get the different WG to weight in on

[2015-08-11 16:59] jasnell opened #11 "Discoverability/Modularity of ICU Data File"
One of the key issues around the introduction of Intl support into node has been the bundling of the ICU data file and the use of the command line switch. One of the solutions discussed has been to allow Node to automatically discover the data file location and to use modules as a way of installing / customizing the data file. I have been investigating several options on this and will be using thi

[2015-08-11 17:04] jasnell opened #12 "Localization of Node's own output/error messages"
Node's error messages, help and debug output are currently not localized. I have been investigating what it would take to enable localization of Node's output. I will use this issue to track the progress of that investigation.

[2015-08-11 17:14] caridy opened #13 "[Discussion] How to validate output formats in different runtimes"
## Invalid checksum in isomorphic apps

One of the most common issue filled against Intl.js and Format.JS is about invalid checksum, which will happen when the server (nodejs, iojs) formats a particular piece of data (date, time, number, etc.), but the output is different from what the client produces for the exact same call with the exact same data. This inconsistencies lead to some frameworks to

[2015-08-11 17:27] caridy opened #14 "[Discussion] Create instances of `DateTimeFormat` and `NumberFormat` without the first argument `locale` is problematic"
In most cases, when doing `new Intl.DateTimeFormat().format(1234);` on the client side will work well since it will use the user's preferences to render the date, but that's not the case of nodejs/iojs when rendering data on the server side since that will rely on the server's preferences rather than the user's preferences to render that piece of data.

Ideally, developers will alway negotiate the

[2015-08-11 17:29] caridy opened #15 "[Task] Implement prototype to run Intl/test262 in nodejs/iojs"

[2015-08-11 18:34] kevinmartin commented on #12
Linking your issue: joyent/node#9174

My 2 cents:
- There should be an automated build process that extracts the strings and places them in centralized file(s) - Either a single language file (or multiple files, similar to Gettext domains).
  - format should be a universally acceptable format that can be imported into a tool like Transifex.
- If we use the suggested `L10N("KEY", "Fallback string")

[2015-08-11 18:43] kevinmartin commented on #14
Part of me wants to say that I think that the default _should_ be the server preferences. I don't think there should be a specific default locale, though.

As far as providing out-of-the-box instances in node, I personally disagree with. It will just slow down app startup times for people who:
- don't know about those instances
- don't use `DateTimeFormat`/`NumberFormat`
- need instances other tha

[2015-08-11 18:46] jasnell commented on #12
There are some additional challenges.
1. Currently, error handling and reporting within Node is extremely inconsistent.
2. V8's own error messages are not localized. However, Chrome doesn't seem to have a problem with this and shows localized messages so we need to investigate more about what they are doing.
3. We need to ensure that localized error messages are still easily searchable. There are

[2015-08-11 19:01] caridy commented on #14
@KevinMartin I was referencing to a mechanism "per request" right after negotiating the locale (when constructing the request object maybe). But the reality is that ECMA402 does not help with this since `options` is required when creating those instances, which makes this a complicated thing.

Btw, doing `global.*` is not recommended for Intl instances since the locale should be negotiated per req

[2015-08-11 20:11] srl295 opened #16 "document overall Intl test plan"
Document overall Intl test plan incluing ICU version bumps, and how to do a version bump.

related to #15

[2015-08-11 20:13] srl295 opened #17 "explain the Node/Intl-es402/v8/ICU/CLDR/Unicode stack"
w/ @stevenatkin

* graphic / component diagram
* FAQ - “whose bug is it anyway?” Examples:
 * rounding error in formatting - might be v8, might be ICU
 * undesired decimal separator  1.23 vs 1,23 - CLDR
 * normalization behavior - Unicode
 * casing - may be Unicode and/or CLDR

from #8

[2015-08-12 06:07] kevinmartin commented on #12
As far as your point 3a, I thought `KEY` was the simple, non-change identifier?

[2015-08-12 06:12] kevinmartin commented on #14
I see, sorry. I was seeing your points from a global perspective, since not everyone uses Node for it's HTTP server capabilities.

So, what you're suggesting would deal solely with the `http`/`https` modules, correct? Regardless, I personally feel creating (an expensive) object per request that may or may not be used/known will in itself be too expensive to do. It should be kept to the developer t

[2015-08-12 06:45] jasnell commented on #12
Yep. We'll just need to make sure a consistent convention is used for naming the `KEY`

[2015-08-12 16:07] caridy commented on #15
Some preliminary hacks to run test262 against node v0.12.7, here is the result:

[code]

_Note: tests were run again a clean installation of node using NVM, I suspect that due to the missing locales some tests that are relying on `de` are failing._

[2015-08-12 16:33] srl295 commented on #15
@caridy thanks!
Can you put in the full data with:
- download http://sourceforge.net/projects/icu/files/ICU4C/54.1/icu4c-54_1-src.zip/download
- find the file `source/data/in/icudt54l.dat` in that archive (23Mb)
- run `node` with either variable `ICU_DATA_DIR=…` or parameter `--icu-data-dir=…`  pointing to the full path to the  `icudt54l.dat` file?

[2015-08-12 16:38] caridy commented on #15
@srl295 I tried that before, but I'm getting `Segmentation Fail: 11` for some reason. There is the full blob:

[code]

When running node console, it works just fine:

[code]

[2015-08-12 16:42] srl295 commented on #15
@caridy try not using the `~` but a full path. The crash is a v8 bug with an issue assigned to me to workaround/float a patch [here](https://github.com/joyent/node/issues/9361). In later v8s it should be error-and-abort.

[2015-08-12 16:47] caridy commented on #15
Ok, that works a little bit better, but still getting `Bus error: 10` at some point, here is the blob:

[code]

At this point, the runner halts.

[2015-08-12 16:55] srl295 commented on #15
@caridy I'm not sure what the regexp or the `nu-native` tests are trying to do, but the AED bug, if the error message is correct, is an actual bug.

[2015-08-12 16:56] caridy commented on #15
ok. n.p. Let me try to get a repo ready with the instructions to run the tests, and we can go from there.

[2015-08-12 16:57] srl295 commented on #15
@caridy sounds good. Would be a great thing to run in CI!

[2015-08-13 14:55] diagramatics commented on #8
Clarification purposes, was this on August 10th or 11th?

[2015-08-13 15:09] srl295 commented on #8
@diagramatics it was at [09:00AM on Tuesday, August 11, 2015 Pacific Time](http://time.is/0900AM_11_Aug_2015_in_PT?Intl_WG) (link for more  zones)

[2015-08-13 15:10] diagramatics commented on #8
Awesome. Might wanna update the title to reflect the right date then :)

[2015-08-17 18:04] caridy commented on #15
@srl295 I got some preliminary stuff flushed out this weekend, here is the repo: https://github.com/caridy/node-intl-testsuite

I'm running the same tests using two different harness, still undecided which one to use going forward, I'm waiting for @bterlson to see why tes262-harness is not running all tests, then we can decide.

[2015-08-20 17:51] caridy commented on #9
I will create a hangout, and I can invite you, but we can't do hangout on air without dropping the phone bridge, there is no way that I know of, to call into the bridge from the hangout on air.

[2015-08-25 15:47] srl295 commented on #8
- [ ] Todo: archive notes

[2015-08-25 15:48] srl295 opened #18 "Intl Aug 25, 2015"
Meeting time: [9:00 AM PT, 25 Aug 2015](http://time.is/0900AM_25_Aug_2015_in_PT?Intl_WG)
Agenda working doc: https://goo.gl/0LNd1n

[2015-08-25 16:25] srl295 opened #19 "Collect pain points for Node Intl community"
What are the pain points with using Node?
* Example: What’s the pain level around lack of localized error messages?
* #10
* #14
* #13

[2015-08-25 16:26] srl295 commented on #19
@rxaviers

[2015-08-25 17:10] kevinmartin commented on #12
As far as your point 2, I'm not much of a C++ guy, but I did find [this](https://github.com/v8/v8/blob/master/src/messages.cc). Seems like V8 uses `MessageHandler::GetLocalizedMessage`. Would this be correct?

[2015-08-26 03:20] gaulatti commented on #5
I wanna join you :)

[2015-08-26 16:55] jasnell commented on #5
@rotvulpix @srl295 +1

[2015-08-26 17:10] srl295 commented on #5
@rotvulpix +1 also

[2015-08-26 19:00] kevinmartin commented on #5
+1

[2015-09-08 04:38] srl295 commented on #18
- [ ] todo: archive notes

[2015-09-08 04:39] srl295 opened #21 "Sept 22, 2015 meeting"
Sorry for the late notice, I'd like to skip Sept 8th due to the US long weekend, I didn't get the  agenda ready in time.

[2015-09-22 15:32] srl295 commented on #21
Meeting URL is https://goo.gl/0LNd1n

[2015-09-22 15:34] srl295 commented on #17
Gist WIP: https://gist.github.com/srl295/737f765026bccc3e8c2f

[2015-09-22 15:38] srl295 commented on #17
Perhaps this is best as part of the public wiki?  https://github.com/nodejs/node/wiki/Intl

[2015-09-22 16:00] srl295 commented on #16
- Probably separate docs for bumps and tests
- compare with docs for upgrading libuv, openssl, etc
- related to 'floating patch' situation

[2015-09-28 18:28] srl295 commented on #11
from some discussions today:
- have a generic npm package named something like `icu4c-data`
- that package has a [postinstall](https://github.com/sass/node-sass/blob/master/package.json#L31) step ala `node-sass` which in turn:
  - does an `npm install icu4c-data-${ICUVER}${ENDIANNESS}`
  - .. but copies the data file 'up' into `../node_modules/icu4c-data` (flat path)
  - emits "Hey, to use this ru

[2015-10-06 01:42] srl295 opened #22 "2015-Oct-5 Meeting"
https://goo.gl/0LNd1n

@caridy said he would fill us in on the latest with TC39

[2015-10-08 23:15] srl295 opened #23 "Perf stuff"
I threw [perf-nf.js](https://gist.github.com/srl295/72a8a2d88c8f45218d63) together to gather the numbers I posted [here](https://github.com/nodejs/node/issues/2917#issuecomment-146380131)

We should do some more consistent testing… compare to other scaffolding/polyfill/jQuery.

[2015-10-08 23:46] rxaviers commented on #23
Some links that could be useful
- http://stackoverflow.com/questions/111368/how-do-you-performance-test-javascript-code/24149815#24149815
- Vyacheslav Egorov - LXJS 2013 - Performance and benchmarking https://www.youtube.com/watch?v=65-RbBwZQdU

[2015-10-09 13:18] srl295 commented on #23
Thanks!

[2015-10-16 21:33] srl295 opened #24 "2015-Oct-20 meeting"
Agenda URL: https://goo.gl/0LNd1n

[2015-10-16 21:33] srl295 commented on #24
@srl295 to give FYI about the umbrella TLP

[2015-10-23 23:10] srl295 opened #25 "Investigate FS and other codepage dependencies"
In https://github.com/nodejs/node/pull/3401 it's discussed that _almost all_ fs functions assume a Unicode-supporting filesystem, specifically, that `char*` are in UTF-8. While this is somewhat common (and an ideal) picture, it's not universal. Consider how to work with this issue:
- should libuv and/or calls to it detect the encoding and convert?
  - … with a fast path for environments (OS X, Win

[2015-10-24 07:03] srl295 commented on #12
initial work (backlink) https://github.com/nodejs/node/pull/3413

[2015-10-24 07:04] srl295 commented on #11
issue: https://github.com/nodejs/node/issues/3460

[2015-10-24 09:31] bnoordhuis commented on #25
Libuv treats path names as byte arrays (except on Windows) so I don't think libuv is the right place to do conversion, that logic should go into the "representation layer", i.e., node.js.

There is no platform-specific known encoding, it depends on the file system.  Libuv probably needs to grow a statvfs(2) binding that lets node.js decide what file system it's dealing with on a per-path basis.

[2015-10-27 01:42] srl295 commented on #25
https://github.com/nodejs/node/issues/3519

[2015-10-28 05:53] mapmeld commented on #5
I was at @srl295's talk today at the Unicode Conference and would like to learn more, be involved, and learn more being involved (what a working group can do)

I currently write some NodeJS code at the Asia Foundation. Ran into issues sorting Burmese names and other i18n issues, had to create [several modules](https://gist.github.com/mapmeld/4d1e5ebb8f68b96921d1) including a sorting function in pl

[2015-10-28 06:15] srl295 commented on #5
@mapmeld +1 and lets chat!

[2015-11-17 17:07] srl295 opened #26 "Nov 17 meeting"
see #24

[2015-11-17 17:07] srl295 commented on #26
continue to use https://goo.gl/0LNd1n

[2015-12-09 22:05] srl295 opened #27 "Documentation around best practices for client/server"
As per https://github.com/nodejs/Intl/issues/14

- make a writeup/sample app around working with locale … and  codepage negociation…  of the end user over http.

[2015-12-11 21:13] srl295 commented on #5
@rotvulpix added you to the calendar invite - sorry it was missed before!   Any one else who isn't getting the invite please let me know.

[2015-12-15 16:00] srl295 commented on #17
Moved to public wiki: https://github.com/nodejs/node/wiki/Intl#q-how-do-the-pieces-fit-together--how-do-i-know-who-is-responsible-for-the-bug

[2015-12-15 16:00] #17 closed

[2015-12-15 17:03] srl295 commented on #10
#27 is for documentation of this.

I have not tested `negotiator` but the API looks right.

[2016-01-18 23:10] a0viedo commented on #5
cc @nodejs/nodejs-es

[2016-01-20 03:39] rcotrina94 commented on #5
Here! _(^_^)/ :hand:

[2016-01-21 14:45] edsadr commented on #5
I would like to join too...  please add me to the calendar invite

[2016-01-21 16:25] sergiolepore commented on #5
:hand:

[2016-01-30 01:31] joconner commented on #5
@srl295 Still need help? Would love to participate.

[2016-01-30 04:36] vrunoa commented on #5
✋ will be glad to help

[2016-01-31 06:54] srl295 commented on #5
@vrunoa @joconner @sergiolepore @edsadr @rcotrina94 all added - ping if you didnt' get the invite
_EDIT_ Can we move the time forward an hour for this one? I had double booked myself. New time:  http://time.is/1000AM_2_Feb_2016_in_PT/ET?IntlWG

_EDIT_ Other meeting was moved - time is again http://time.is/0900AM_2_Feb_2016_in_PT/GMT/ET?NodeIntl

[2016-01-31 16:45] vrunoa commented on #5
@srl295 sorry guys, I just realized i'm gonna be travelling to argentina on february 2, can't help. sorry again.

[2016-02-01 00:15] chrisdickinson commented on #5
I might not be able to join myself, but it would be excellent if someone from the Docs WG could attend & relay info both ways — cc'ing @nodejs/documentation.

[2016-02-01 00:22] stevemao commented on #5
I can help  :hand:

[2016-02-01 20:32] srl295 commented on #5
http://time.is/0900AM_2_Feb_2016_in_PT/GMT/ET?NodeIntl  Meeting is at 9am PT (click for more times)

[2016-02-01 20:50] Knighton910 commented on #5
I'll be in attendance :8ball:

[2016-02-01 22:04] rdodev commented on #5
I would love to attend and take notes but I'll be busy helping with a
training event next couple days. Sorry to miss it.

Best,
Ruben

On Mon, Feb 1, 2016 at 3:50 PM, kelvin knighton notifications@github.com
wrote:

[2016-02-02 02:03] srl295 commented on #5
Added @kelthenoble to the invite… 
I don't have an email for @rdodev or @stevemao so please write me at `srl295＠gmail . com` and I'll set you up…

[2016-02-02 02:24] Knighton910 commented on #5
:+1: @srl295

[2016-02-02 05:35] srl295 commented on #11
^ PoC up at the above issue

[2016-02-02 06:20] srl295 commented on #10
Proof of concept: https://github.com/srl295/localilator
Instance: https://localilator.mybluemix.net

When run locally, I can get output like:

or with some tweaking:

Sample code:

[code]

the "full-icu" is not working right now, so I don't have a live demo to try.

[2016-02-02 15:14] caridy commented on #10
awesome, but we should bikeshed on `localilator`, I can't even pronounce that! :)

[2016-02-02 15:41] sergiolepore commented on #5
@srl295 sorry, I won't make it on time :disappointed: will this meeting be recorded?

[2016-02-02 17:01] srl295 commented on #5
@sergiolepore not sure how to record it. i will take notes though

[2016-02-03 20:19] a0viedo commented on #5
@srl295 Hangouts On Air are automatically recorded, more info on how to create one [here](https://github.com/nodejs/node/wiki/Meetings:-Creating-a-Hangouts-On-Air-Event). Also I should warn it has a limit of 15 people attending but unlimited to people watching.

[2016-02-05 15:17] nisnardi commented on #5
hi guys, I would like to help, I'm not sure how. Let's keep in contact and please add me so I can see how I can contribute. Thanks

[2016-02-05 15:21] ianaya89 commented on #5
Hey there, I am willing to help. Please feel free to reach me for whatever is needed.

[2016-02-05 15:24] nicolasdanelon commented on #5
Hello everybody I can help :hand:

[2016-02-05 18:41] sfabrizio commented on #5
Hi there! I can help too.. just tell me how..

[2016-02-16 00:12] srl295 commented on #5
OK. Next meeting tomorrow- http://time.is/0900AM_16_Feb_2016_in_PT/ET/GMT/CET?NodeIntl  will try _google hangouts_ this time.

[2016-02-16 17:05] edsadr commented on #5
Where is the hangout link? couldn't find it

2016-02-15 19:12 GMT-05:00 Steven R. Loomis notifications@github.com:

##

##

Adrián Estrada
@edsadr | MedellinJS

[2016-02-16 17:11] srl295 commented on #5
hangout link is -
https://plus.google.com/hangouts/_/xcscon533kg5jflln54cwlqysia?authuser=1&hl=en-US

[

On Tue, Feb 16, 2016 at 9:05 AM, Adrián Estrada notifications@github.com
wrote:

[2016-03-01 17:01] srl295 commented on #5
Trying to start meeting at the hangout link above

[2016-03-01 17:22] srl295 commented on #5
Cancelled today's. Wondering if monthly is a better cadence?

[2016-03-03 15:48] edsadr commented on #5
would this be enough? doesn't look like we would have big progress with a monthly meeting... what about rescheduling the same week if we couldn't meet?

[2016-03-07 07:05] martinheidegger commented on #5
Hello Everyone :hand:  I am interested in internationalisation and node.

[2016-03-08 08:45] watilde commented on #5
I'm interesting in ECMA-402 and internationalization/localization in Node ✋

[2016-03-15 06:19] srl295 commented on #5
Meeting tomorrow?
When: [09:00 PT, Mar 15](http://time.is/0900AM_15_Mar_2016_in_PT/ET/GMT/CET?NodeIntl) (US has, sadly, switched to DST- hit the link for time in your local time zone)
Where: [Video](https://hangouts.google.com/call/c3nyovghqzc5vmsxkduk2dhcjue) | [Agenda](https://goo.gl/0LNd1n)

[2016-03-15 09:34] martinheidegger commented on #5
@srl295 I am in.

[2016-03-15 11:11] martinheidegger opened #29 "Pain Points: CLI"
Collection of pain points when internationalising a nodejs CLI tool:

- IME input can interfere with user input
- Double width characters break ASCII layouting
- Lack of standardized negotiation system (with language store)

[2016-03-15 16:41] srl295 commented on #29
- Double Width- Unicode East Asian Width property distinguishes `a` vs `ａ` etc. Also affected by combining.

[2016-03-15 16:48] watilde commented on #29
Double Width -Currently there is no way to get the width of the East Asian Width in Node.js. In npm, it is fixed by using `option`. https://github.com/npm/npm/issues/11781

[2016-03-15 16:52] martinheidegger commented on #29
I havn't tried it out yet but I think that the [man-files](https://docs.npmjs.com/files/package.json#man) also are not translated?!

[2016-03-15 16:54] watilde commented on #29
@martinheidegger ahh that may be true. Let me take a look into it.

[2016-03-15 17:23] sam-github commented on #29
@martinheidegger I've never seen that man feature of npm used, most devs on windows and OS X don't use man pages or even know what they are. It looks to me like you could include man pages for all the language sections in the package.json, though. They would all get installed, of course.

[2016-03-15 17:25] martinheidegger commented on #29
@sam-github It is prominently used by npm.

`$ npm show npm man`

[code]

[2016-03-15 18:11] martinheidegger commented on #5
Sorry for missing the meetup, I mixed up the date (thought it was tomorrow)

[2016-03-15 21:26] srl295 commented on #5
@martinheidegger one of the things we want to change is
- meet monthly
- review the agenda prior to the meeting

If I missed anyone's invite to https://node-intl.slack.com please let me know and I will invite you.

[2016-03-22 17:53] pmdartus commented on #5
Hi, I can help as well!

[2016-03-28 23:59] srl295 commented on #5
^ Cancelling tomorrow's meeting and future. Getting a doodle together for scheduling… please let me know which days don't work and I'll omit.

[2016-04-18 20:29] hackygolucky opened #31 "Localization of Node Live Beijing page for upcoming event"
We're hosting a Node Live event in Beijing http://live.nodejs.org/events/beijing.html May 21-22 via the Node Foundation and connecting with local groups. While we've had some great turnout at prior Live events, it would make much more sense to have the Beijing page in Mandarin as well(though my understanding is that written language is similar/same but spoken(Mandarin/Cantonese) is very different)

[2016-04-18 20:39] kosamari commented on #31
Hey ya @hackygolucky,  @nodejs/nodejs-cn would be the one used to localize website contents.
though not sure how it's structured after Intl working group formed. AFAIK this is for technical support of internationalization not content production.

[2016-04-18 20:45] kosamari commented on #31
I also don't know if Node Live page is under @nodejs/website ?
When we did io.js website there was base (english) doc we need to translate & send PR to website repo. FYI.

[2016-04-18 23:13] stevemao commented on #31
I don't think it's under https://nodejs.org/en/ and I didn't know there was a live page...

[2016-04-18 23:41] mikeal commented on #31
Should probably be logged here https://github.com/nodejs/nodejs-zh-CN/issues

And the Node.js Live website is here https://github.com/nodejs/live.nodejs.org

[2016-04-19 14:15] JacksonTian commented on #31
I don't know how to do it.

[2016-04-20 02:29] XadillaX commented on #31
I don't know which repo should be chosen.

[2016-04-20 08:07] xcatliu commented on #31
I'd like to translate the page to Mandarin, but do I need to keep both English content and Chinese content?

[2016-04-20 15:15] hackygolucky commented on #31
It would be ideal to keep it both English and Chinese content.

On Wed, Apr 20, 2016 at 4:07 AM, Xcat Liu notifications@github.com wrote:

[2016-04-20 15:41] xcatliu commented on #31
Sounds good. I think I can deal with it soon.

[2016-04-25 22:59] sam-github commented on #29
@martinheidegger Used by npm, sure, but used by _users of npm_? I very much doubt that many people know that `man npm-ls` is a non-portable alternative to the portable `npm help ls`, with identical text.

[2016-04-25 23:03] watilde commented on #29
I started to implement `i18n` in npm on https://github.com/npm/npm/pull/12298

[2016-05-02 17:17] hackygolucky commented on #31
Done and y'all are amazing for picking this up and running with it. Big props to @xcatliu 🎉
https://github.com/nodejs/live.nodejs.org/pull/43

[2016-05-02 17:17] #31 closed

[2016-05-03 00:25] #26 closed

[2016-05-03 00:25] #24 closed

[2016-05-03 00:25] #22 closed

[2016-05-03 00:25] #18 closed

[2016-05-03 00:26] srl295 commented on #8
First meeting was a while ago- closing this.

[2016-05-03 00:26] #8 closed

[2016-05-03 00:26] srl295 opened #33 "Restart Intl meetings - Jan 16 2017"
Monday Jan 16th https://time.is/915am_16_Jan_2017_in_PT?Node.js_Intl_WG

Plan is for the meetings to be _monthly_.

[2016-05-03 00:27] srl295 commented on #5
^ A month later - please fill this out if you would like to join a new _monthly_ meeting: https://github.com/nodejs/Intl/issues/33

[2016-05-03 00:34] martinheidegger commented on #33
Which poll?

[2016-05-03 00:53] srl295 commented on #33
@martinheidegger that would help, wouldn't it. Updated, above.

[2016-05-15 03:14] srl295 commented on #33
OK- think we have a time. http://time.is/900_19_May_2016_in_PT

[2016-05-15 03:20] srl295 commented on #33
OK, i've setup the _updated_ invite here - https://calendar.google.com/calendar/event?action=TEMPLATE&tmeid=MnFvY2FmY3BudWV2YW5yc3NsaXVlNWc2ajAgc3JsMjk1QG0&tmsrc=srl295%40gmail.com • the video call URL should be https://plus.google.com/hangouts/_/calendar/c3JsMjk1QGdtYWlsLmNvbQ.2qocafcpnuevanrssliue5g6j0?authuser=0

[2016-05-20 15:31] martinheidegger commented on #33
Note: I again missed the day because the timestamp was at 1:00 in the night and it showed Friday in the google calendar. (Now it`s friday at 1 o'clock at night and I just realized that this means I only missed the meeting by 24hours ...) I wonder if this is a hint that I am really bad at internationalisation and should give up my efforts?

![screenshot 2016-05-21 00 31 48](https://cloud.githubuser

[2016-05-20 16:38] srl295 commented on #33
@martinheidegger sorry to have missed you !  Does this link work- http://time.is/900_19_May_2016_in_PT should show a time 24 hours ago

[2016-05-20 16:40] martinheidegger commented on #33
@srl295 My intelligence just didn't pick apart that Friday 1:00 means "In the night between thursday and friday". That is the usual meaning but in TV time: 0:00~6:00 are usually attributed to the previous day... again: my bad. But I do find my incompetency amusing.

[2016-05-20 16:44] srl295 commented on #33
@martinheidegger don't take it too bad — Call it an i18n occupational hazard. I orchestrated another multi-continent multi-timezone meeting … and then mis-TYPED (<-- there's the problem) the invitees email addresses.

[2016-07-27 15:02] srl295 commented on #17
update to mention punycode dotless i

[2016-07-29 22:28] srl295 commented on #10
I need to check `negotiator` itself here, but I filed these bugs  against parsers not handling bcp47 script correctly:
- https://github.com/opentable/accept-language-parser/issues/8
- https://github.com/tinganho/node-accept-language/issues/15

[2016-08-31 13:41] andjc commented on #5
I am interested in participating, my focus is on requirements for lesser used and minority languages.

[2016-09-13 18:25] srl295 opened #34 "Document what is off when `--without-intl` is chosen"
- string.normalize - noop
- es6/7 regexes?
- toLocaleDateString - falls back to Date.toString
  etc

[2016-09-13 18:25] srl295 commented on #34
cc: @jasnell @ofrobots

[2016-10-27 01:24] srl295 opened #35 "find out minimum required ICU version and test for it"
I _think_ node will work with a pretty wide range of ICUs at this point. It might be worth actually testing this, and making sure `configure` complains if the ICU is too old.

[2016-10-31 14:14] srl295 commented on #33
Let's re-restart in early December or January?

[2016-10-31 21:29] srl295 commented on #33
OK, please fill this out with times that work for you - http://doodle.com/poll/p6exrs3qzeakq2kf

9:00 AM PT is what worked before, which means it would need to be Monday for me. Probably a monthly meeting would be the cadence for now.   I also added 1 hour on either side just in case that works better.   If we don't get good dates, please indicates so, and we can re evaluate. Thanks!

[2016-10-31 21:30] srl295 commented on #5
cc: @joconner  … and PSA:  please fill out the doodle poll here: https://github.com/nodejs/Intl/issues/33#issuecomment-257426217

[2016-11-07 19:20] mhdawson opened #36 "Clarify use of npms for icu with respect to use with Node.js"
The docs in npm for https://www.npmjs.com/package/full-icu  and https://www.npmjs.com/package/icu4c-data should be clarified to indicate when you should use one versus the other./

[2016-11-12 03:06] RichardLitt commented on #5
I am interested in helping out and joining the working group. My focus is also on low-resource and minority languages. (@andjc would love to connect to you about that!)

[2016-11-14 00:46] martinheidegger opened #37 "i18n-it-all"
Just as a casual information I would like to mention that I am working on [i18n-it-all](https://github.com/workshopper/i18n-it-all) _(A workshopper to learn about internationalization)_ By now I _kinda_ have 4 of 13 exercises finished and the others outlined in the readme's. Any input would be welcome.

[2016-12-15 20:58] srl295 commented on #33
9:00 AM (PT) on the 9th? https://time.is/0900_9_Jan_2017_in_PT?Intl_WG

[2017-01-13 17:03] srl295 commented on #33
Sorry I have had some illness over the new year.

Let's try again this Monday - https://time.is/915am_16_Jan_2017_in_PT?Node.js_Intl_WG
We can refine the time in the future, but I'd like to get this going again.

[2017-01-16 17:45] srl295 commented on #33
Thanks @watilde for joining. You can see the meeting minutes https://goo.gl/0LNd1n  for some of the issues we talked through.

Let's do it again… maybe next month?

[2017-01-17 00:30] martinheidegger commented on #33
Oh man, I really need to set an alert for those meetings :man_facepalming:

[2017-01-18 20:06] #21 closed

[2017-01-18 20:06] srl295 commented on #33
@martinheidegger Next time.

For now: mission accomplished :100:

[2017-01-18 20:06] #33 closed

[2017-01-18 20:07] srl295 opened #38 "February 2017 meeting"
Following on #33

[2017-01-27 20:57] rywilson-ibm opened #39 "Option for listing all available locales from ICU"
@srl295 I'm looking for a way in nodejs (or clientside) to enumerate all locales.  This is needed to create a language selection dropdown list.  Past projects used the icuj library to accomplish this but I could not find anything equivalent in nodejs.

[2017-01-30 20:54] joconner commented on #39
Assuming that different components will be able to support locales at different pace, maybe this is simply a method that should be placed on locale-aware objects. For example, DateTimeFormat already has something like "supportedLocalesOf". Does that seem reasonable? I can imagine a similar method on NumberFormat, etc.

[2017-02-11 05:48] srl295 opened #40 "2017 March Intl WG meeting: Mar 27, 2017"
When: https://time.is/1400_27_Mar_2017_in_PT?Node.js_Intl_WG
Agenda:  https://goo.gl/0LNd1n
Google hangout link: https://hangouts.google.com/call/sb46mjvfvzb2rahujsxiytmi6qe

Prev agenda: #33

[2017-02-20 10:50] watilde commented on #40
Related link that is labelled `intl`: https://github.com/nodejs/node/pull/11464

[2017-02-20 16:56] srl295 commented on #39
@rywilson-ibm @joconner It makes sense. I think something at the ecma402 level may be best.

Node however could list which locales it has available, as that information is available at runtime.

[2017-02-20 17:04] srl295 commented on #38
oops, duplicated myself in #40

[2017-02-20 17:04] #38 closed

[2017-02-21 19:19] srl295 commented on #40
Renamed this to the March meeting. Please fill in the poll  [here](http://doodle.com/poll/neezmy8ghwdtvm26)

[2017-02-23 15:19] srl295 opened #41 "attribution for translations?"
@martinheidegger had the idea of some sort of dashboard to promote translation / attribution of node.js content. Something showing all of the translators and how much work had been done.

[2017-03-04 06:33] srl295 commented on #40
OK time picked! https://time.is/1400_27_Mar_2017_in_PT?Node.js_Intl_WG

[2017-03-18 13:07] watilde opened #42 "Can I add new contributor to nodejs-ja?"
Since `nodejs-ja` don't have any maintainer/owner, we can't add more contributors. Could I have it?

[2017-03-19 00:39] addaleax commented on #42
I don’t know what the right place to ask this is, but I *think* it might be nodejs/TSC rather than this repo.

@nodejs/tsc I’ve gone ahead and made @watilde a team maintainer of @nodejs/nodejs-ja, it doesn’t look like there’s any difference besides the ability to add members to the team. Let me know if this is a kind of thing that should be handled differently!

(edit: closing, but please reopen i

[2017-03-19 00:40] #42 closed

[2017-03-19 05:51] srl295 commented on #42
@addaleax what you said.

[2017-03-19 07:00] watilde commented on #42
Thanks! I could add one contributor who is a member of Website WG, but I couldn't add a new contributor.
+ https://github.com/nodejs/nodejs-ja/pull/120

I will open an issue on TSC later then :)

[2017-03-27 21:04] srl295 commented on #40
now on!

[2017-03-27 21:29] srl295 commented on #39
what about `process.binding('icu').supportedLocales()` ?

[2017-03-27 21:48] srl295 commented on #12
looks like this was landed in https://github.com/nodejs/node/pull/11220
with tracking at https://github.com/nodejs/node/issues/11273

thanks @jasnell !

[2017-03-27 21:48] #12 closed

[2017-03-27 22:01] srl295 commented on #40
Thanks all! let's do it again next month.

[2017-03-27 22:01] #40 closed

[2017-03-27 22:01] srl295 opened #43 "2017 September WG Meeting"
followon to #40 …

was ~April~

[2017-03-27 22:05] rywilson-ibm commented on #39
I think something like that would work.

[2017-03-28 01:47] martinheidegger commented on #40
Opened docs issue on package doc: https://github.com/nodejs/docs/issues/126

[2017-04-26 05:34] watilde opened #44 "domainToASCII and domainToUnicode in intl"
Currently, we're using `uidna_nameToASCII_UTF8` or `uidna_nameToUnicodeUTF8` when users call `domainToASCII` or `domainToUnicode` with the `url` modules, but accoding to the specification it should be `uidna_IDNToASCII` and `uidna_IDNToUnicode` instead of them.
+ https://url.spec.whatwg.org/#idna
+ http://www.unicode.org/reports/tr46/#ToASCII
+ http://www.unicode.org/reports/tr46/#ToUnicode
+ http

[2017-04-26 21:53] rmisev commented on #44
This problem is related to https://github.com/nodejs/node/pull/11549.

I think `uidna_nameToASCII_UTF8` is suitable: to match `VerifyDnsLength = false` (that means also to allow empty labels), you can just ignore following errors in `pInfo->errors`: [`UIDNA_ERROR_EMPTY_LABEL`, `UIDNA_ERROR_LABEL_TOO_LONG`, `UIDNA_ERROR_DOMAIN_NAME_TOO_LONG`](http://icu-project.org/apiref/icu4c/uidna_8h.html#ab04a0

[2017-04-28 08:54] watilde commented on #44
@rmisev You're right! Thank you so much for following up with the great detail.

Closing as resolved.

[2017-04-28 08:54] #44 closed

[2017-05-23 15:53] watilde commented on #39
Since `process.binding` is for internal codes, I though it's better to have it in somewhere else.

How about updating the config variable called `icu_locales`?

[2017-09-21 23:05] srl295 commented on #43
Let's try to  reboot this…
https://doodle.com/poll/trt23rbqicuqkuqd

[2017-10-16 23:21] srl295 commented on #43
no attendance above ^ and allso see ^ https://github.com/nodejs/TSC/issues/353

[2017-10-16 23:21] #43 closed

[2017-10-16 23:21] srl295 opened #45 "Intl WG decharter?"
See ^ https://github.com/nodejs/TSC/issues/353

[2017-10-16 23:22] srl295 commented on #45
- no content in the wiki or code repo here
- 20 open issues (not counting this one)… would like to capture these if the repo is going away.

[2017-10-17 23:12] zbraniecki commented on #10
As part of Project Fluent we've designed a locale manipulation library that is similar to proposed `Intl.Locale` and does negotiation on top of it:

 - Rust impl: https://github.com/projectfluent/fluent-locale-rs
 - Docs: https://docs.rs/fluent-locale/0.3.0/fluent_locale/
 - Older impl in JS: https://github.com/projectfluent/fluent.js/tree/master/fluent-langneg (working on an update to match the R

[2017-12-11 21:48] Trott commented on #45
Based on non-response, seems like there's no objection. Closing. Feel free to re-open if that's wrong.

[2017-12-11 21:48] #45 closed

[2017-12-11 21:52] srl295 commented on #45
@Trott Right. No objections were heard.

[2017-12-11 21:52] Trott commented on #5
As we're decommissioning the actual working group, I'm going to close this. Still, there is an Intl team so if anyone wants to be added to that team (so you will get pinged when someone mentions @nodejs/Intl), leave a comment here.

Also, if there's an energetic group of people who have a clear idea of exactly what they want the working group to do, there's no reason it can't be re-chartered.

EDI

[2017-12-11 21:52] #5 closed

[2017-12-11 21:55] Trott commented on #9
Closing due to inactivity. Feel free to pick this up again in the main nodejs/node repo. This one will probably be read-only soon. It will probably get more attention there anyway.

[2017-12-11 21:55] #9 closed

[2017-12-11 21:57] Trott commented on #10
Closing due to inactivity. Feel free to pick this up again in the main nodejs/node repo (or any nodejs repo that seems appropriate). This one will probably be read-only soon.

[2017-12-11 21:57] #10 closed

[2017-12-11 21:57] Trott commented on #11
Closing due to inactivity. Feel free to pick this up again in https://github.com/nodejs/node/issues/3460 or any other nodejs repo that seems appropraite. This one will probably be read-only soon.

[2017-12-11 21:57] #11 closed

[2018-01-26 09:56] jimmywarting opened #46 "Utilize intl options without an local"
I want to use `Intl.DateTimeFormat` with some options but it don't seem possible to use it without specifying a local as first parameter and i want it to be localized, i don't want to have to force one language.

[2018-01-26 11:41] bnoordhuis commented on #46
I don't really understand what you're asking.  Post sample code maybe?

[2018-01-26 12:22] jimmywarting commented on #46
figured out you could just pass undefined

[code]

I would wish this was possible:

[code]

[2018-01-26 17:55] bnoordhuis commented on #46
Ah, okay.  Intl's behavior is governed by ECMA 402.  You'd have to take it up with the committee behind that spec to get that changed.

[2018-01-26 18:03] srl295 commented on #46
@jimmywarting I understand what you are saying from an API point of view, but ultimately using this function "without a locale" doesn't work because these are locale sensitive functions.  Using undefined (or an empty list) specifies to use the JavaScript container's default. See https://tc39.github.io/ecma402/#sec-intl-datetimeformat-constructor for the constructor's definition and  https://tc39.g

[2018-02-15 23:15] srl295 commented on #46
answered

[2018-02-15 23:15] #46 closed

[2018-02-15 23:16] srl295 commented on #41
remanded to i18n per https://github.com/nodejs/community-committee/issues/114#issuecomment-365857556

[2018-02-15 23:16] #41 closed

[2018-02-15 23:20] srl295 commented on #39
May be better to request at https://github.com/tc39/proposal-intl-locale or a feature request in the main Node repo

[2018-02-15 23:22] srl295 commented on #36
Fixed in https://github.com/unicode-org/icu4c-data-npm/commit/a66ab2518fd5cac4424ef475d016996f97fd05b8

[2018-02-15 23:22] #36 closed

[2018-02-15 23:26] srl295 commented on #34
done in https://nodejs.org/api/intl.html#intl_options_for_building_node_js

[2018-02-15 23:26] #34 closed

[2018-03-28 14:04] srl295 commented on #35
Duplicates https://github.com/nodejs/node/issues/19657

[2018-03-28 14:04] #35 closed

[2018-04-03 15:08] srl295 commented on #39
@rywilson-ibm closing this for now, as this repo will be archived.

[2018-04-03 15:08] #39 closed

[2018-04-03 15:10] srl295 commented on #37
This repo is being archived…, please feel free to reopen/link elsewhere

[2018-04-03 15:10] #37 closed

[2018-04-03 15:13] srl295 commented on #25
^ closing due to above

[2018-04-03 15:13] #25 closed

[2018-04-03 15:14] srl295 commented on #14
I think the above ^ is best discussed as ecma402, so i am closing this

[2018-04-03 15:14] #14 closed